@font-face {
  font-weight: 700;
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-stretch: normal;
  src:
    local("Atkinson Hyperlegible"),
    local("Atkinson-Hyperlegible"),
    url("/fonts/atkinson-hyperlegible-700.woff2") format("woff2");
  font-display: optional;
}

.resume {
  margin: 0;
}

.resume p,
.resume li {
  font-size: 0.9rem;
}

.resume h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0 0 0.25rem !important;
}

.resume h1 + p {
  margin-top: 0.25rem;
}

.resume h2 {
  font-size: 1.25rem;
  margin: 1rem 0 0;
  font-weight: 700;
}

.resume h3 {
  margin: 0.5rem 0 0;
  font-size: 1.25rem;
  line-height: 1.2;
}

.resume h4 {
  margin: 0.25rem 0;
}

.resume ul {
  margin: 0.25rem 1.5rem 1rem;
}

.resume li {
  margin-bottom: 0.25rem;
}

.resume h3 + p {
  margin: 0;
  font-size: 0.75rem;
  color: var(--text-accent);
}

.resume .footnote {
  margin: 0;
}

.resume .footnote ul {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem 0;
}

.resume .footnote li {
  display: inline-block;
  padding: 0;
  margin-bottom: 1rem;
}

.resume .footnote a {
  display: inline-block;
  margin-right: 1rem;
}

@media print {
  .resume a[href]::after {
    content: "";
  }
}
