.resume {
  margin-block: 0;
}

.resume p,
.resume li {
  max-block-size: var(--small);
}

.resume h1 {
  font-size: 2.5rem;
  margin-block: 0.5rem 0.25rem;
}

.resume h1 + p {
  margin-block-start: 0.25rem;
}

.resume h2 {
  font-size: 1.25rem;
  margin-block: 1rem 0;
  margin-inline: 0;
  font-weight: 700;
}

.resume h3 {
  margin-block: 0.5rem 0;
  margin-inline: 0;
  font-size: 1.25rem;
  line-height: 1.2;
}

.resume h4 {
  margin-block: 0.25rem;
}

.resume h3 + h4 {
  margin-block: 0.5rem 0;
  margin-inline: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--text-accent);
}

.resume h4 + h4 {
  margin-block: 0.25rem;
}

.resume ul {
  margin-block: 0.25rem 1rem;
  margin-inline: 1.5rem 0;
}

.resume li {
  margin-block-end: 0.25rem;
}

.resume h3 + p {
  margin-block: 0;
}

.resume .footnote {
  margin-block: 0;
}

.resume .footnote a {
  display: inline-block;
  margin-inline-end: 1rem;
}
