:root {
  --black: oklch(0% 0 0deg);
  --background: oklch(98.18% 0 0deg);
  --background-border-accent: oklch(89.78% 0 0deg);
  --background-accent: oklch(92.5% 0 0deg);
  --text: oklch(25.16% 0 0deg);
  --text-accent: oklch(38.7% 0 0deg);
  --form-accent: rebeccapurple;
  --link: oklch(45.28% 0.177 261.07deg);
  --link-visited: var(--link);
  --link-hover: oklch(32.02% 0.119 260.78deg);
  --link-focus: oklch(89.87% 0.18 99deg);
  --font-family: "Atkinson Hyperlegible", "Helvetica", "Arial", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    /* stylelint-disable declaration-no-important */
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    /* stylelint-enable declaration-no-important */
  }
}

html {
  scroll-padding: 5rem;
  text-size-adjust: none;
  font-size: 110%;
}

@media screen and (width >= 48em) {
  html {
    font-size: 130%;
  }
}

@media screen and (width >= 64em) {
  html {
    font-size: 150%;
  }
}

img,
picture,
svg,
video,
canvas {
  display: block;
}

/* https://www.zachleat.com/web/fluid-images/ */
img {
  max-inline-size: 100%;
}

img[width] {
  inline-size: auto;
}

img[width][height] {
  inline-size: 100%;
  block-size: auto;
}

img[src$=".svg"] {
  inline-size: 100%;
  max-inline-size: none;
  block-size: auto;
}

.video {
  position: relative;
  block-size: 0;
  padding-block: 1.5rem 51.9%; /* 16:9 */
}

.video iframe {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 95vb;
}

.skip {
  position: absolute;
  inset-inline-start: -999rem;
}

.skip:is(:active, :focus) {
  position: fixed;
  inset-inline-start: 0;
  z-index: 100;
  display: block;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
}

@font-face {
  font-weight: 400;
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-stretch: normal;
  src:
    local("Atkinson Hyperlegible"),
    local("Atkinson-Hyperlegible"),
    url("/fonts/atkinson-hyperlegible.woff2") format("woff2");
  font-display: optional;
}

body {
  color: var(--text);
  font-weight: 400;
  font-family: var(--font-family);
  margin-block: 0;
  margin-inline: 0;
  background-color: var(--background);
}

:any-link {
  text-decoration-skip-ink: auto;
}

:any-link:link {
  color: var(--link);
  background-color: inherit;
}

:any-link:visited {
  color: var(--link-visited);
  background-color: inherit;
}

:any-link:is(:hover, :focus, :active) {
  color: var(--link-hover);
  background-color: inherit;
}

:any-link:hover {
  text-decoration-thickness: 0.12rem;
}

:any-link:focus-visible {
  color: var(--text);
  text-decoration: none;
  background-color: var(--link-focus);
  outline: 0.1875rem solid transparent;
  outline-offset: 0;
  box-shadow:
    0 -0.125rem var(--link-focus),
    0 0.25rem var(--text);
}

:any-link:focus:not(:focus-visible) {
  outline: none;
}

h1,
h2,
h3,
h4 {
  color: var(--text);
  font-weight: 400;
  text-wrap: balance;
}

h1 {
  margin-block: 0.5rem 0.25rem;
  margin-inline: 0;
  font-size: 2.25rem;
  line-height: 1.2;
}

.home h1 {
  font-size: 3.5rem;
  text-align: center;
}

h2 {
  margin-block: 0.4rem 0.2rem;
  margin-inline: 0;
  font-size: 1.8rem;
  line-height: 1.2;
}

h3 {
  margin-block: 0 1rem;
  margin-inline: 0;
  font-size: 1.5rem;
  line-height: 1;
}

p {
  margin-block: 0.5rem 1rem;
  margin-inline: 0;
  font-size: 1rem;
  line-height: 1.5;
}

ul,
ol {
  margin-block: 0 1.5rem;
  margin-inline: 2rem 0;
  padding-block: 0;
  padding-inline: 0;
}

ul {
  list-style-type: circle;
}

li {
  line-height: 1.5;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

pre,
code {
  color: var(--text);
  font-size: 1rem;
  font-family: var(--font-family);
  background-color: var(--background-accent);
  border-block: 0.1rem solid var(--background-accent);
  border-inline: 0.1rem solid var(--background-accent);
  border-radius: 0.25rem;
  line-height: 1.2;
}

code {
  display: inline-block;
  padding-block: 0;
  padding-inline: 0.15rem;
}

pre {
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  overflow-inline: auto;
  overscroll-behavior-inline: contain;
  scrollbar-gutter: stable;
}

pre > code {
  padding-block: 0;
  padding-inline: 0;
  background-color: transparent;
  border-block-width: 0;
  border-inline-width: 0;
}

input[type="checkbox"],
input[type="radio"],
input[type="range"],
progress {
  accent-color: var(--form-accent);
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}

/* This is intentional and reflects my explicit opinion while understanding recommendations against it. */
button,
input[type="submit"] {
  cursor: pointer;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  inline-size: 3rem;
  block-size: 3rem;
  margin-block: 1rem 0.5rem;
  margin-inline: 0;
  padding-block-start: 0.15rem;
  font-size: 1.5rem;
  line-height: 1;
  background-color: var(--text-accent);
  border-radius: 50%;
  transition: background-color 0.5s ease;
}

.circle:is(:link, :visited) {
  color: var(--background);
  text-decoration: none;
  background-color: var(--text-accent);
}

.circle:is(:hover, :focus) {
  color: var(--link);
  background-color: var(--background);
  background-size: 110%;
  border-block: 0.1875rem solid var(--link);
  border-inline: 0.1875rem solid var(--link);
  transition: background-color 0.5s ease;
}

.circle:focus {
  box-shadow: none;
}

.sr:not(:focus-within, :active) {
  clip-path: inset(50%);
  block-size: 0.1rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  inline-size: 0.1rem;
}

.back {
  margin-block-end: 1rem;
  padding-block-start: 0;
}

.meta {
  margin-block-end: 1rem;
}

.date,
.update {
  color: var(--text-accent);
  line-height: 1.5;
  margin-block: 0;
}

figcaption,
.caption {
  margin-block: 0.5rem 1.5rem;
  margin-inline: 0;
  color: var(--text-accent);
}

figcaption {
  text-align: center;
}

figcaption:empty {
  margin-block: 0;
  margin-inline: 0;
}

.bump {
  margin-block-start: 2rem;
}

.doc {
  margin-block: 3rem;
}

.doc p,
.doc li {
  max-block-size: var(--small);
}

.doc h1 {
  font-size: 3.3rem;
}

.doc h1 + p {
  margin-block-start: 0.25rem;
}

.doc h2 {
  margin-block: 2.5rem 0.2rem;
  margin-inline: 0;
}

.doc h3 {
  margin-block: 1.5rem 0;
  margin-inline: 0;
  font-size: 1.4rem;
  line-height: 1.2;
}

.doc h3 + h4 {
  margin-block: 0.5rem 0;
  margin-inline: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--text-accent);
}

.doc h4 + h4 {
  margin-block-start: -1rem;
}

.doc ul {
  margin-block: 0.25rem 2rem;
  margin-inline: 1.5rem 0;
}

.doc li {
  margin-block-end: 0.25rem;
}

.doc .footnote {
  margin-block: 3rem -1.5rem;
}

.chunk {
  margin-block-end: 2rem;
  margin-inline-start: 0;
  list-style-type: none;
}

.chunk li {
  border-block-end: 0.1rem solid var(--background-accent);
}

.chunk li :last-child {
  border-block-end: 0;
}

.chunk a {
  display: block;
  padding-block: 0.45rem 0.35rem;
  padding-inline: 0.5rem;
}

hr {
  display: block;
  box-sizing: content-box;
  block-size: 0.5rem;
  margin-block: 3rem;
  margin-inline: 2rem;
  padding-block: 0;
  padding-inline: 0;
  overflow: visible;
  border-block-width: 0;
  border-inline-width: 0;
  border-block-end: 0.5rem solid var(--background-accent);
}

.block-photo {
  display: block;
  margin-block: 0;
  margin-inline: auto;
}

main,
nav {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns:
    [full-start] minmax(0, 1fr)
    [main-start] minmax(0, 40rem) [main-end]
    minmax(0, 1fr) [full-end];
}

.home nav {
  grid-column-gap: 0;
}

main > *,
nav > * {
  grid-column: main;
}

main > figure {
  grid-column: full;
  margin-block: 1.5rem 0.5rem;
  margin-inline: auto;
}

.outer {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 2fr 1fr;
  margin-block-end: 2rem;
}

.inner {
  grid-column: 1 / span 2;
}

@media screen and (width >= 48em) {
  .inner {
    grid-column: 1;
  }
}

.photo {
  grid-column: 1 / span 2;
}

@media screen and (width >= 48em) {
  .photo {
    grid-column: 2;
    margin-block-start: 3.5rem;
  }
}

.photo figure {
  margin-block: 0;
  margin-inline: 0;
}

.photo figcaption {
  text-align: start;
}

.facade {
  position: relative;
  margin-block-end: 2rem;
}

.facade__overlay {
  position: absolute;
  inset: 0;
  inline-size: 100%;
  background-color: rgb(0 0 0 / 50%);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='100' cy='100' fill='none' r='90' stroke='%23fff' stroke-width='15'/%3E%3Cpath d='m70 55v90l75-45z' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 5rem;
  transition: 0.3s background-size;
  content: " ";
}

.facade__link {
  position: relative;
  display: block;
}

.facade__link:is(:hover, :focus) .facade__overlay {
  background-size: 6rem;
  transition: 0.3s background-size;
}

.facade__link img {
  display: block;
}

@media print {
  * {
    color: var(--black);
    background-color: transparent;
  }

  a {
    text-decoration: underline;
  }

  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    font-size: 0.625rem;
    font-style: normal;
    content: " " attr(href);
  }

  a[href^="#"]::after {
    content: "";
  }

  img {
    max-inline-size: 100%;
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  h1 {
    font-size: 2.25rem;
  }

  .doc a[href]::after {
    content: "";
  }

  header,
  .back {
    display: none;
  }
}
