*,
*::before,
*::after {
  box-sizing: border-box;

  @media (prefers-reduced-motion: reduce) {
    // stylelint-disable declaration-no-important, plugin/no-unsupported-browser-features
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    // stylelint-enable declaration-no-important, plugin/no-unsupported-browser-features
  }
}

html {
  scroll-padding-top: 5rem;
}

img,
picture,
svg,
video,
canvas {
  display: block;
}

// https://www.zachleat.com/web/fluid-images/
img {
  max-width: 100%;

  &[width] {
    width: auto; // Defer to max-width
  }

  &[width][height] {
    width: 100%;
    height: auto; // Preserve aspect ratio
  }

  // Let SVG scale without boundaries
  &[src$=".svg"] {
    width: 100%;
    max-width: none;
    height: auto;
  }
}

.video {
  position: relative;
  height: 0;
  padding-top: 1.5rem;
  padding-bottom: 51.9%; // 16:9

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 95vh;
  }
}

.skip {
  position: absolute;
  left: -999rem;

  &:active,
  &:focus {
    position: fixed;
    left: 0;
    z-index: 100;
    display: block;
    padding: 0.5rem 0.75rem;
  }
}
