body {
  margin: 0;
  background-color: var(--background);
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin: 1rem 0 0.5rem;
  padding-top: 0.15rem;
  font-size: 1.5rem;
  line-height: 1;
  background-color: var(--text-accent);
  border-radius: 50%;
  transition: background-color 0.5s ease;

  &:link,
  &:visited {
    color: var(--background);
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: var(--link);
    background-color: var(--background);
    background-size: 110%;
    border: 0.1875rem solid var(--link);
    transition: background-color 0.5s ease;
  }

  &:focus {
    box-shadow: none;
  }

  .sr {
    @extend %u-hidden-visually;
  }
}

.back {
  margin-bottom: 1rem;
  padding-top: 0;
}

.date {
  color: var(--text-accent);
  line-height: 1.5;
}

figcaption,
.caption {
  margin: 0.5rem 0 1.5rem;
  color: var(--text-accent);
}

figcaption {
  text-align: center;

  &:empty {
    margin: 0;
  }
}

.bump {
  margin-top: 2rem;
}

.chunk {
  margin-bottom: 2rem;
  margin-left: 0;
  list-style-type: none;

  li {
    border-bottom: 0.1rem solid var(--background-accent);

    &:last-child {
      border-bottom: 0;
    }
  }

  a {
    display: block;
    padding: 0.45rem 0.5rem 0.35rem;
  }
}

hr {
  display: block;
  box-sizing: content-box;
  height: 0.5rem;
  margin: 3rem 2rem;
  padding: 0;
  overflow: visible;
  border: 0;
  border-top: 0.5rem solid var(--background-accent);
}

.block-photo {
  display: block;
  margin: 0 auto;
}

main,
nav {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns:
    [full-start] minmax(0, 1fr)
    [main-start] minmax(0, 40rem) [main-end]
    minmax(0, 1fr) [full-end];
}

.home nav {
  grid-column-gap: 0;
}

main > *,
nav > * {
  grid-column: main;
}

main > figure {
  grid-column: full;
  margin: 1.5rem auto 0.5rem;
}

section {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 2rem;
}

article {
  grid-column: 1 / span 2;

  @include bp($medium) {
    grid-column: 1;
  }
}

.photo {
  grid-column: 1 / span 2;

  @include bp($medium) {
    grid-column: 2;
    margin-top: 3.5rem;
  }

  figure {
    margin: 0;
  }

  figcaption {
    text-align: left;
  }
}

.facade {
  position: relative;
  margin-bottom: 2rem;

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='100' cy='100' fill='none' r='90' stroke='%23fff' stroke-width='15'/%3E%3Cpath d='m70 55v90l75-45z' fill='%23fff'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 5rem;
    transition: 0.3s background-size;
    content: " ";
  }

  &__link {
    position: relative;
    display: block;

    &:hover,
    &:focus {
      .facade__overlay {
        background-size: 6rem;
        transition: 0.3s background-size;
      }
    }
  }

  img {
    display: block;
  }
}
