@media print {
  * {
    color: $black;
    background: transparent;
  }

  a {
    text-decoration: underline;

    &:visited {
      text-decoration: underline;
    }
  }

  a[href]::after {
    font-size: 0.75rem;
    font-style: normal;
    content: " [" attr(href) "]";
  }

  a[href^="#"]::after {
    content: "";
  }

  a[href="/"]::after {
    content: " [aka " attr(title) "]";
  }

  img {
    max-width: 100%;
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  h1 {
    font-size: 2.25rem;
  }

  .back {
    display: none;
  }
}
