html {
  font-size: 100%;

  @include bp($medium) {
    font-size: 130%;
  }

  @include bp($large) {
    font-size: 150%;
  }
}

body {
  color: var(--text);
  font-weight: 400;
  font-family: $font-family;
}

a {
  text-decoration-skip: objects;

  &:link {
    color: var(--link);
  }

  &:visited {
    color: var(--link-visited);
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--link-hover);
  }

  &:focus {
    color: var(--text);
    text-decoration: none;
    background-color: $yellow;
    outline: 0.1875rem solid transparent;
    outline-offset: 0;
    box-shadow: 0 -0.125rem $yellow, 0 0.25rem var(--text);
  }
}

h1,
h2,
h3 {
  color: var(--text);
  font-weight: 400;
}

h1 {
  margin: 0.5rem 0 0.25rem;
  font-size: 2.25rem;
  line-height: 1.2;

  .home & {
    font-size: 3.5rem;
    text-align: center;
  }
}

h2 {
  margin: 0.4rem 0 0.2rem;
  font-size: 1.8rem;
  line-height: 1.2;
}

h3 {
  margin: 0 0 1rem;
  font-size: 1.5rem;
  line-height: 1;
}

p {
  margin: 0.5rem 0 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

ul,
ol {
  margin: 0 0 1.5rem 2rem;
  padding: 0;
}

ul {
  list-style-type: circle;
}

li {
  line-height: 1.5;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

pre,
code {
  color: var(--text);
  font-size: 1rem;
  font-family: $font-family;
  background-color: var(--background-accent);
  border: 0.1rem solid var(--background-accent);
  border-radius: 0.25rem;
  line-height: 1.2;
}

code {
  display: inline-block;
  padding: 0 0.15rem;
}

pre {
  padding: 0.5rem 0.75rem;
  overflow-x: auto;

  > code {
    padding: 0;
    background-color: $transparent; // prevent clipping
    border: 0;
  }
}
