// stylelint-disable plugin/no-unsupported-browser-features, scale-unlimited/declaration-strict-value

@font-face {
  font-weight: 400;
  font-family: "Atkinson Hyperlegible";
  font-style: normal;
  font-stretch: normal;
  src: local("Atkinson Hyperlegible"), local("Atkinson-Hyperlegible"),
    url("/fonts/atkinson-hyperlegible.woff2") format("woff2");
  font-display: optional;
}
// stylelint-enable plugin/no-unsupported-browser-features, scale-unlimited/declaration-strict-value
