$font-family-mono: "Source Code Pro", "Courier", monospace;

@font-face {
  font-weight: 400;
  font-family: "Source Code Pro";
  font-style: normal;
  font-stretch: normal;
  src: local("Source Code Pro"), local("SourceCodePro-Regular"),
    url("/fonts/scp.woff2") format("woff2");
  font-display: optional;
}

pre,
code {
  font-family: $font-family-mono;
}
