{
  "plugins": [
    "@double-great/stylelint-a11y",
    "stylelint-plugin-defensive-css",
    "stylelint-plugin-logical-css"
  ],
  "extends": [
    "@double-great/stylelint-a11y/strict",
    "stylelint-config-standard",
    "stylelint-plugin-defensive-css/configs/strict",
    "stylelint-plugin-logical-css/configs/recommended"
  ],
  "rules": {
    "declaration-property-value-no-unknown": true,
    "import-notation": "string",
    "selector-class-pattern": null,
    "unit-allowed-list": [
      "em",
      "rem",
      "%",
      "s",
      "ms",
      "ch",
      "vb",
      "vi",
      "deg",
      "fr"
    ],
    "a11y/font-size-is-readable": [true, { "severity": "warning" }],
    "a11y/no-spread-text": [true, { "severity": "warning" }],
    "a11y/no-obsolete-attribute": [true, { "severity": "warning" }],
    "a11y/no-obsolete-element": [true, { "severity": "warning" }],
    "a11y/no-text-align-justify": [true, { "severity": "error" }]
 }
}
