{
  "extends": [
    "stylelint-config-standard"
  ],
  "plugins": [
    "stylelint-plugin-logical-css",
    "stylelint-plugin-defensive-css"
  ],
  "rules": {
    "declaration-property-value-no-unknown": true,
    "import-notation": "string",
    "selector-class-pattern": null,
    "unit-allowed-list": [
      "em",
      "rem",
      "%",
      "s",
      "ms",
      "ch",
      "vb",
      "vi",
      "deg",
      "fr"
    ],

    "plugin/use-logical-properties-and-values": [
      true,
      { "severity": "error" }
    ],
    "plugin/use-logical-units": [true, { "severity": "error" }],

    "plugin/use-defensive-css": [true, {
      "background-repeat": true,
      "flex-wrapping": true,
      "scroll-chaining": true,
      "scrollbar-gutter": true,
      "vendor-prefix-grouping": true
    }]
  }
}
