---
layout: home
title:
fittext: .65
---

<section class="feature">
      {% for post in paginator.posts %}
        <article>
          <a href="{{ post.url }}">
            <picture>
              <!--[if IE 9]><video style="display: none;"><![endif]-->
              <source srcset="{% if post.feature-image-1000 %}{{ post.feature-image-1000 }}{%else%}http://www.fillmurray.com/1000/1000{%endif%}" media="(min-width: 800px)">
              <source srcset="{% if post.feature-image-800 %}{{ post.feature-image-800 }}{%else%}http://www.fillmurray.com/800/800{%endif%}" media="(min-width: 640px)">
              <source srcset="{% if post.feature-image-640 %}{{ post.feature-image-640 }}{%else%}http://www.fillmurray.com/640/640{%endif%}" media="(min-width: 400px)">
              <!--[if IE 9]></video><![endif]-->
              <img srcset="{% if post.feature-image-320 %}{{ post.feature-image-320 }}{%else%}http://www.fillmurray.com/320/320{%endif%}" alt="{{ post.title }}">
            </picture>
          </a>
        </article>
      {% endfor %}
      </section>