.page {
    @extend %clearfix;
    position: relative;
    margin: 1.5em auto 0;
}

header {
  background-color: #222;
  margin: 0;
  padding: 1em;
  text-align: center;
}

.post {
  h1 {
    max-width: em(512, 36);
    margin-left: em(32, 36);
    margin-right: em(32, 36);
    @include bp($small-medium) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  p {
    max-width: em(512);
    margin-left: em(32);
    margin-right: em(32);
    @include bp($small-medium) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  img,
  iframe {
    display: block;
    margin: 1em auto;
  }
  .caption {
    max-width: inherit;
    color: #666;
    font-style: italic;
    margin: .5em 0 1.5em;
    text-align: center;
  }
}

.feature {
  @extend %clearfix;
  max-width: 100%;
  margin-bottom: 2em;
  article {
    width: 50%;
    float: left;
    @include bp($medium) {
      width: 25%;
    }
  }
}

.info {
  padding: 9em 3em;
  background-attachment: fixed;
  margin-top: 5em;
  margin-bottom: 5em;
  background-image: url("https://farm6.staticflickr.com/5482/14218273236_2ecbf703ba.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  @include bp($small) {
    background-image: url("https://farm6.staticflickr.com/5482/14218273236_2ecbf703ba_c.jpg");
  }
  @include bp($medium) {
    background-image: url("https://farm6.staticflickr.com/5482/14218273236_2ecbf703ba_b.jpg");
  }
  @include bp($large) {
    background-image: url("https://farm6.staticflickr.com/5482/14218273236_b0c8fc420d_h.jpg");
  }
}

.date {
  color: #999;
}