// Convert px to em
@function em($pixels, $context: $base-size) {
  @return #{($pixels / ($pixels * 0 + 1)) / ($context / ($context * 0 + 1))}em;
}


// Breakpoints
@mixin bp($point) {
  @if $point == 'baby' {
    @media (min-width: $baby) { @content; }
  }
  @if $point == 'mama' {
    @media (min-width: $mama) { @content; }
  }
  @if $point == 'papa' {
    @media (min-width: $papa) { @content; }
  }
}

// self-clearing floats
%clearfix {
  &:before,
  &:after {
    content:" ";
    display:table;
  }
  &:after {
    clear:both;
  }
  & {
    *zoom:1;
  }
}

// visually hide - still available to screen readers
%visually-hide {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}