body {
	font-family: $font-family;
	font-weight: 400;
	font-size: 95%;
	transition: font-size .5s ease;
	@include bp($medium) { font-size: 130%; }
	@include bp($large) { font-size: 160%; }
}

a {
  color: $link;
  text-decoration: none;
  &:visited {
    color: $link-visited;
    text-decoration: none;
  }
  &:hover,
  &:focus,
  &:active {
    color: $link-hover;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-rendering: optimizelegibility;
	font-weight: 700;
}

h1 {
	font-size: em(36);
	line-height: 1.2;
	margin: 0.5em 0 0.25em 0;
	text-align: center;
}

h2 {
	font-size: em(30);
	line-height: em(36, 30);
	margin-bottom: em(24, 30);
}

h3 {
	font-size: em(24);
	line-height: em(24, 24);
	margin-bottom: em(24, 24);
}

h4 {
	font-size: em(21);
	line-height: em(24, 21);
	margin-bottom: em(24, 21);
}

h5 {
	font-size: em(18);
	line-height: em(24, 18);
	margin-bottom: em(24, 18);
}

h6 {
	font-size: em(16);
	line-height: em(24);
	margin-bottom: em(24);
}

p {
	font-size: em(16);
	line-height: em(24);
	margin-bottom: em(24);
}

ul,
ol {
	padding: 0;
	margin: 0 0 em(24) em(32);
}

ul {
	list-style-type: circle;
}

li {
	line-height: em(24);
}

dl {
	margin-bottom: em(16);
}

dt,
dd {
	line-height: em(24);
}

dt {
	font-weight: bold;
	margin-top: em(10);
}

dd {
	margin-left: 0;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

cite {
	font-style: normal;
}

.unstyled {
	margin-left: 0;
	list-style: none;
}

.inline {
	margin-left: 0;
	list-style: none;
	& > li {
		display: inline-block;
  	vertical-align: baseline;
		padding-left: em(5);
		padding-right: em(5);
	}
}

header {
	margin: 1em 0;
}

.post {
	h1 {
		text-align: left;
	}
}

header {
	a {
		font-family: $font-family-sans;
	}
}