<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.name }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="author" content="{{ site.name }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="alternate" href="/atom.xml" title="{{ site.name }}" type="application/atom+xml">
    <!--[if lt IE 9]><script src="/js/html5shiv.js"></script><![endif]-->
    <script src="/js/picturefill.js" async></script>
  </head>

  <body>