<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{% if title %}{% if title != site.name %}{{ title }} &ndash; {% endif %}{% endif %}{{ site.name }}</title>
    <meta name="author" content="{{ site.name }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="VSNNkE6DbJkLYdmhEb-AvccU_RZckm-s3x80VdYXsQk">
    <link rel="preload" href="/fonts/ssp.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="/fonts/scp.woff2" as="font" type="font/woff2" crossorigin>
    <meta name="theme-color" content="#727272">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <link rel="manifest" href="/manifest.webmanifest">
    <link rel="alternate" href="/atom.xml" title="{{ site.name }}" type="application/atom+xml">
    <script>if ('serviceWorker' in navigator) { navigator.serviceWorker.register('/sw.js'); }</script>
    {% capture css %}
      {% include "style.css" %}
    {% endcapture %}
    <style>{{ css | cssmin }}</style>
  </head>

  <body>
    <a href="#content" class="skip">Skip to content</a>
