<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.name }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="author" content="{{ site.name }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="VSNNkE6DbJkLYdmhEb-AvccU_RZckm-s3x80VdYXsQk">
    <link rel="preload" href="/fonts/ssp.woff" as="font" type="font/woff" crossorigin>
    <meta name="theme-color" content="#727272">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <link rel="manifest" href="/manifest.json">
    <link rel="alternate" href="/atom.xml" title="{{ site.name }}" type="application/atom+xml">
    {% if page.class == "photo" %}<script src="/js/picturefill.js" defer></script>{% endif %}
    {% if site.environment != "local" %}<script>if ('serviceWorker' in navigator) { navigator.serviceWorker.register('/sw.js'); }</script>{% endif %}
    <style type="text/css">
      {% capture include_to_cssify %}
        {% include style.css %}
      {% endcapture %}
      {{ include_to_cssify | cssify }}
    </style>
  </head>

  <body>
