.home {
  background: rgba($black, .9);

  h1 {
    @extend %visually-hide;
  }
}

.page {
  @extend %clearfix;
  margin: 0 auto;
  position: relative;
}

.block {
  @extend %clearfix;
  float: left;
  margin-bottom: 0;

  a {
    display: block;
    height: 100%;
    width: 100%;

    &:focus {
      outline: 1px solid $white;

      .post-title {
        opacity: 1;
      }
    }
  }

  article {
    float: left;
    position: relative;

  }

  h2 {
    @extend %visually-hide;
  }
}

.feature {
  max-width: 79.95%;
  @include bp($medium) { max-width: 66.6%; }

  article {
    width: 50%;
    @include bp($medium) { width: 33.3%; }
  }
}

.post-title {
  background: rgba($black, .65);
  bottom: 0;
  color: $white;
  height: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: all .2s ease-in-out;
  width: 100%;

  h2,
  h3 {
    color: $white;
    font-size: 1em;
    left: 50%;
    margin-top: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    @include bp($large) {
      font-size: 1.25em;
    }
  }

  &:hover {
    opacity: 1;
  }
}

.photos {
  max-width: 20.05%;
  @include bp($medium) { max-width: 33.3%; }

  article {
    width: 100%;
    @include bp($medium) { width: 50%; }
  }

  h2 {
    @extend %visually-hide;
  }

  .loading {
    color: $gray;
    font-size: .5em;
    margin: 3em 1em;
  }

  .post-title {
    font-size: .8em;
    @include bp($medium) { font-size: .9em; }
  }
}

.intro {
  color: $white;

  h3 {
    color: $white;
    font-size: 9vw;
    margin: 0;
    padding: 25% 0;
    text-align: center;

    @include bp($medium) {
      font-size: 6vw;
      padding: 20% 0;
    }
  }
}

.post {
  h1 {
    margin-left: 1.23em;
    margin-right: .888em;
    max-width: 14.22em;
    text-align: center;

    @include bp($small-medium) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  p {
    margin-left: 2em;
    margin-right: 2em;
    max-width: 32em;

    @include bp($small-medium) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  ul,
  ol {
    margin-left: 2em;
    margin-right: 2em;
    max-width: 32em;

    @include bp($small-medium) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  li {
    margin-bottom: .25em;
    margin-left: 2em;
  }

  img,
  iframe {
    background-color: $white;
    color: $black;
    display: block;
    margin: 1em auto;
  }

  hr {
    border: 0;
    border-top: 1px solid $gray-accent;
    display: block;
    height: 1px;
    margin: 3em 2em;
    max-width: 32em;
    padding: 0;

    @include bp($small-medium) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .video {
    margin-bottom: 2em;
  }

  .caption {
    color: $gray;
    font-style: italic;
    margin: .5em 0 1.5em;
    max-width: inherit;
    text-align: center;
  }
}

.date {
  color: $gray-light;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}

.back {
  background: rgba($black, .75);
  border-radius: .75em;
  color: $white;
  display: block;
  font-size: 1.5em;
  margin: 2em auto;
  max-width: 3em;
  padding: .75em;
  text-align: center;
  transition: all .3s ease-in-out;

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background: rgba($black, .45);
  }
}
