
.content {
  @extend %clearfix;
  margin: 0 auto;
  max-width: 40em;
  padding-left: 1em;
  padding-right: 1em;
}

img,
iframe {
  background-color: $white;
  color: $black;
  display: block;
  margin: 1em auto;
}

.post {
  h1 {
    text-align: center;
  }
}


.video {
  margin-bottom: 2em;
}

.caption {
  color: $gray;
  font-style: italic;
  margin: .5em 0 1.5em;}

hr {
  border: 0;
  border-top: 1px solid $gray-accent;
  display: block;
  height: 1px;
  margin: 3em 2em;
  max-width: 32em;
  padding: 0;

  @include bp($small-medium) {
    margin-left: auto;
    margin-right: auto;
  }
}

.date {
  color: $gray-light;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
}

.back {
  background: rgba($black, .75);
  border-radius: .75em;
  color: $white;
  display: block;
  font-size: 1.5em;
  margin: 2em auto;
  max-width: 3em;
  padding: .75em;
  text-align: center;
  transition: all .3s ease-in-out;

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background: rgba($black, .45);
  }
}
