.home {
  background: rgba(0, 0, 0, .9);
}

.page {
  @extend %clearfix;
  margin: 0 auto;
  position: relative;
}

.feature {
  @extend %clearfix;
  margin-bottom: 0;
  max-width: 100%;

  article {
    float: left;
    position: relative;
    width: 50%;

    @include bp($medium) {
      width: 25%;
    }

    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

.intro {
  color: $white;

  h1 {
    color: $white;
    font-size: 13vw;
    margin: 0;
    padding: 18% 0;
    text-align: center;

    @include bp($medium) {
      font-size: 6vw;
    }
  }
}

.post-title {
  background: rgba(0, 0, 0, .65);
  bottom: 0;
  color: $white;
  height: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: all .2s ease-in-out;
  width: 100%;

  h2 {
    color: $white;
    font-size: 1.75em;
    left: 50%;
    margin-top: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    @include bp($medium) {
      font-size: 1.25em;
    }
  }

  &:hover {
    opacity: 1;
  }
}

.post {
  h1 {
    margin-left: 1.23em;
    margin-right: .888em;
    max-width: 14.22em;
    text-align: center;

    @include bp($small-medium) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  p {
    margin-left: 2em;
    margin-right: 2em;
    max-width: 32em;

    @include bp($small-medium) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  ul,
  ol {
    margin-left: 2em;
    margin-right: 2em;
    max-width: 32em;

    @include bp($small-medium) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  li {
    margin-bottom: .25em;
    margin-left: 2em;
  }

  img,
  iframe {
    display: block;
    margin: 1em auto;
  }

  .video {
    margin-bottom: 2em;
  }

  .caption {
    color: $gray;
    font-style: italic;
    margin: .5em 0 1.5em;
    max-width: inherit;
    text-align: center;
  }
}

.fluid-video {
  margin: 1em;
}

.date {
  color: $gray-light;
  text-align: center;
}

.back {
  background: rgba(0, 0, 0, .75);
  border-radius: .75em;
  color: $white;
  display: block;
  font-size: 1.5em;
  margin: 2em auto;
  max-width: 3em;
  padding: .75em;
  text-align: center;
  transition: all .3s ease-in-out;

  &:visited {
    color: $white;
  }

  &:hover,
  &:focus {
    background: rgba(0, 0, 0, .45);
  }

  .visuallyhidden {
    @extend %visually-hide;
  }
}
