// Base

// Box sizing - http://www.paulirish.com/2012/box-sizing-border-box-ftw/
* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

// flexible images - http://webdesignerwall.com/tutorials/5-useful-css-tricks-for-responsive-design
img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

// flexible video - http://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php
.video {
  height: 0;
  padding-bottom: 51.9%; // 16:9
  padding-top: 25px;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    max-height: 95vh;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
