* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.video {
  height: 0;
  padding-bottom: 51.9%; // 16:9
  padding-top: 1.5rem;
  position: relative;

  iframe {
    height: 100%;
    left: 0;
    max-height: 95vh;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
