body {
  margin: 0;
  background-color: var(--background);
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  margin: 1rem 0 0.5rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: var(--text-accent);
  border-radius: 50%;

  &:link,
  &:visited {
    color: var(--background);
  }

  &:hover,
  &:focus {
    background-image: linear-gradient(to bottom, $rainbow);
    background-size: 110%;
  }
}

.back {
  margin-bottom: 1rem;
}

.date {
  color: var(--text-accent);
  line-height: 1.5;
}

figcaption,
.caption {
  margin: 0.5rem 0 1.5rem;
  color: var(--text-accent);
}

figcaption {
  text-align: center;
}

.home {
  ul {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0;
    list-style-type: none;

    li {
      border-bottom: 0.1rem solid var(--background-accent);

      &:last-child {
        border-bottom: 0;
      }
    }

    a {
      display: block;
      padding: 0.45rem 0.5rem 0.35rem;

      &:hover,
      &:focus {
        background-color: var(--background-accent);
      }
    }
  }
}

hr {
  display: block;
  box-sizing: content-box;
  height: 0.5rem;
  margin: 3rem 2rem;
  padding: 0;
  overflow: visible;
  border: 0;
  border-top: 0.5rem solid var(--background-accent);
}

.block-photo {
  display: block;
  margin: 0 auto;
}

main {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: [full-start] minmax(0, 1fr)
    [main-start] minmax(0, 40rem) [main-end]
    minmax(0, 1fr) [full-end];
}

main > * {
  grid-column: main;
}

main > figure {
  grid-column: full;
  margin: 1.5rem 0 0.5rem;
}

section {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 2rem;
}

article {
  grid-column: 1 / span 2;

  @include bp($medium) {
    grid-column: 1;
  }
}

.photo {
  grid-column: 1 / span 2;

  @include bp($medium) {
    grid-column: 2;
    margin-top: 3.5rem;
  }
}
