@media print {
  * {
    background: transparent;
    color: $black-print; // Black prints faster: h5bp.com/s
  }

  a {
    text-decoration: underline;

    &:visited {
      text-decoration: underline;
    }
  }

  a[href]::after {
    content: ' [' attr(href) ']';
    font-size: 0.75em;
    font-style: normal;
  }

  // Don't show links for images, or javascript/internal links
  a[href^='#']::after {
    content: '';
  }

  a[href='/']::after {
    content: ' [aka ' attr(title) ']';
  }

  img {
    max-width: 100%;
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  h1 {
    font-size: 2.25em;
  }

  // stylelint-disable a11y/no-display-none
  .back {
    display: none;
  }
  // stylelint-enable
}
