// Breakpoints
@mixin bp($size) {

  @media screen and (min-width: $size) {

    @content;
  }
}

// visually hide - still available to screen readers
// https://github.com/h5bp/html5-boilerplate/issues/194/
// https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
%visually-hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap; // avoid smushed text for screen readers
  width: 1px;
}

// Force word wrapping - useful for long URLs
// https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
%word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}
