@mixin bp($size) {
  @media screen and (min-width: $size) {

    @content;
  }
}

// https://allyjs.io/tutorials/hiding-elements.html#2017-edition-of-visuallyhidden
// stylelint-disable plugin/no-unsupported-browser-features
%u-hidden-visually:not(:focus):not(:active) {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  margin: -0.1rem;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
// stylelint-enable

// https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
// stylelint-disable plugin/no-unsupported-browser-features, property-no-vendor-prefix
%word-wrap {
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  overflow-wrap: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
// stylelint-enable
