body {
  color: $body-color;
  font-family: $font-family;
  font-size: 100%;
  font-weight: 400;

  @include bp($medium) { font-size: 130%; }

  @include bp($large) { font-size: 150%; }

  @media (prefers-color-scheme: dark) {
    color: $gray-barely;
  }
}

a {
  text-decoration: none;
  text-decoration-skip: objects;

  &:link {
    color: $link;

    @media (prefers-color-scheme: dark) {
      color: lighten($link, 40%);
    }
  }

  &:visited {
    color: $link-visited;

    @media (prefers-color-scheme: dark) {
      color: lighten($link-visited, 40%);
    }
  }

  &:hover,
  &:focus,
  &:active {
    color: $link-hover;

    @media (prefers-color-scheme: dark) {
      color: lighten($link-hover, 40%);
    }
  }
}

h1,
h2,
h3 {
  color: $body-color;
  font-weight: 400;

  @media (prefers-color-scheme: dark) {
    color: $gray-barely;
  }
}

h1 {
  font-size: 2.25em;
  line-height: 1.2;
  margin: 0.5em 0 0.25em;
  text-align: center;

  .home & {
    font-size: 3.5em;
  }

  .post & {
    text-align: left;
  }
}

h2 {
  font-size: 1.8em;
  line-height: 1.2;
  margin: 0.4em 0 0.2em;
}

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin: 0 0 1em;
}

p {
  font-size: 1em;
  line-height: 1.5;
  margin: 0.5em 0 1em;
}

ul,
ol {
  margin: 0 0 1.5em 2em;
  padding: 0;
}

ul {
  list-style-type: circle;
}

li {
  line-height: 1.5;
}

em {
  font-style: italic;
}

strong {
  font-weight: bolder;
}

pre,
code {
  background-color: $purple-accent;
  border: 1px solid $gray-accent;
  border-radius: 0.25em;
  font-family: $font-family-mono;
  font-size: 1em;

  @media (prefers-color-scheme: dark) {
    background-color: $black;
    border: 1px solid $gray;
    color: $white;
  }
}

code {
  display: inline-block;
  line-height: 1.2;
  padding: 0.01em 0.5em;
}

pre {
  overflow-x: scroll;
  padding: 0.5em 0.75em;

  > code {
    background-color: transparent; // prevent clipping
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
