---
layout: compress
---
{% include header.html %}
{% include top.html %}
    <div class="page">
      <main class="post">
        <div class="logo-box"><a href="/" class="logo">JM</a></div>
        <div class="content">
          <h1>{{ page.title }}</h1>
          {% if page.date %}<p class="date">{{ page.date | date: "%B %-d, %Y" }}</p>{% endif %}
          {{ content }}
          <a class="back" href="/" title="back to the grid"><span aria-label="back to home">&larr;</span></a>
        </div>
      </main>
    </div>
{% include bottom.html %}
{% include footer.html %}
